@font-face {
    font-family: "Arima";
    src: url("font/ArimaMadurai-Regular.otf");
    scr: url("font/ArimaMadurai-Bold.otf") ,
    url("font/ArimaMadurai-Light.otf") ,
    url("font/ArimaMadurai-Medium.otf") ;

    font-family: "Archery";
    src: url("font/SF_Archery_Black.ttf");
    scr: url("font/SF_Archery_Black_Oblique.ttf") ;
        
}  

body 
{
    margin: 0;
    padding: 0;
}

header
{
    background-color: grey;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.logoinit
{
    height: 100px;
}

.menu
{
    height: 50px;
    background-color: grey
}

#titre
{
    font-family: "Archery";
    font-size: 5em
}

.connect
{
    margin-right: 10%;
}

.deroul
{
    height: 50px;
}