@font-face 
{
    font-family: "Archery";
    src: url("font/SF_Archery_Black.ttf");
    scr: url("font/SF_Archery_Black_Oblique.ttf") ;     
}  
@font-face 
{
    font-family: "Rubik";
    src: url("font/Rubik-Regular.ttf") format("truetype");
    scr: url("font/Rubik-Black.ttf") format("truetype"),
         url("font/Rubik-Bold.ttf") format("truetype"),
         url("font/Rubik-Bolditalic.ttf") format("truetype"),
         url("font/Rubik-Italic.ttf") format("truetype"),
         url("font/Rubik-Light.ttf") format("truetype"),
         url("font/Rubik-LightItalic.ttf") format("truetype"),
         url("font/Rubik-Medium.ttf") format("truetype"),
         url("font/Rubik-MediumItalic.ttf") format("truetype"),
} 

body 
{
    margin: 0;
    padding: 0;
    background-color: rgb(88, 88, 88);
    font-family: "Rubik";
      
}

.title 
{
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.welcome 
{
	background-image: url(../img/code.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	font-size: 150px;
	margin: 10px 0;
}

.welcome1
{
    color: black;
    font-size: 60px;
    line-height: .2;
}

main
{
    height: 100vh;
    background-color: rgb(196, 196, 196)
}

.container {
    position: relative;
    width: 33%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }